.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 190px;
  height: 100dvh;
  background-color: #143e2e;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
  .mobile{
    display: none;
  }
  .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    a {
      padding: 0.75rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: white;
      font-size: 1.15rem;
      font-weight: 500;
      // letter-spacing: 0.04em;
      // text-transform: uppercase;
      text-decoration: none;
      background-color: #143e2e;
      transition: 0.3s;
      button {
        color: white;
      }
      &:hover {
        background-color: #227958;
      }
    }
    .disabled{
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
    }
  }
}

@media (max-width: 1368px){
  .header{
    width: 150px;
  }
}

@media (max-width: 1024px){
  .header{
    translate: -100% 0;
    transition: .3s;
    &.ativo{
      translate: 0 0;
      .mobile{
        svg{
          rotate: 90deg;
        }
      }
    }
    .mobile{
      display: block;
      background-color: #143e2e;
      position: absolute;
      top: 10%;
      right: -48px;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 0 5px 5px 0;
      svg{
        transition: .3s;
      }
    }
  }
}